*{margin: 0; padding: 0;}
body{width: 100%; height: auto; background-color: #f7f7f7; font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
.nav{width: 100%; height: 200px; margin: auto;
background-image: url("./img/header.png"); background-repeat: no-repeat; margin: auto; 
background-size: cover; background-position: center;}
.nav img{width: 300px; padding: 30px; margin-left: 80px; }
.nav-links{width: 100%; height: 40px; background-color: #d5fff1; }
.nav-links .nav-bg{width: 80%; height: 30px;  margin: auto; text-align: center; padding: 10px;}
.nav-links .nav-bg a{text-decoration: none; color: rgb(0, 0, 43) ;
    padding: 10px; color: dodgerblue; margin: 10px;}
.nav-links .nav-bg a:hover{background-color: dodgerblue; color: #ffffff; transition: all 1s;}

.slider{width: 100%; height: 300px; background-color: bcfdff;}

.banner{width: 100%; height: 450px;  margin: auto; display: flex; justify-content: space-between ;}
.banner .left{width: 27.5%; height: 450px; background-color: rgb(253, 253, 253);}
.banner .middle{width: 45%; height: 450px; background-color: #bcfdff;}
.banner .middle .mid-row1 {width: 100%; height: 224px; 
    background-color: #bcfdff; display: flex; justify-content: space-between;}

.banner .middle .mid-row1 .box1{width: 49.8%; height: 224.5px; background: rgb(152, 248, 255);}
.banner .middle .mid-row1 .box2{width: 49.8%; height: 224.5px; background: rgb(0, 221, 203);}
.banner .middle .mid-row2 {width: 100%; height: 224.5px; margin-top: 2px;
    background-color: #bcfdff;  display: flex; justify-content: space-between; }
.banner .middle .mid-row2 .box3{width: 49.8%; height: 224.5px; background: rgb(0, 221, 203);}
.banner .middle .mid-row2 .box4{width: 49.8%; height: 224.5px; background: rgb(152, 248, 255)}

.info {width: 100%; height: 900px; background-color: #f7f7f7; 
     margin-top: 0px; }
.info .bg{width: 80%; height:800px; margin: auto;
    border: none; border-radius: 50px; background-color: #ffffff; 
    margin-top: 60px; display: flex; justify-content: space-around;}

.info .bg .left{width: 40%; height: 740px; background-color: #f7f7f7; 
    border-radius: 30px; margin: auto; margin-top: 30px; margin-left: 30px;}
.info .bg .left:hover{color: #eeeded; background-color: #dddddd; transition: all 1.5s;}
.info .bg .left form{margin-left: 30px; margin-top: 30px;}
.info .bg .left h3{margin: 30px 0px 0px 40px; color: grey; }

.info .bg .left input{width: 83%; height: 20px; display: block; 
    margin: 8px; border:none; border-radius: 10px; padding: 10px; margin-left: -5px;}

.info .bg .left select{width: 92%; height: 40px; color: gray;
         border: none; border-radius: 10px; padding: 10px; margin-left: -5px; cursor: pointer; font-size: 11px;}
.info .bg .left ::placeholder{font-size: 11px; column-gap: gray;}
button{width: 90px; height: 30px; margin: 20px 0px 0px 0px; 
    background-color: rgb(255, 255, 255); color: #000000; 
    border: 1px solid rgb(19, 19, 19); border-radius: 7px; cursor: pointer;}
button:hover{color: #ffffff; background-color: #b30000; }
span{color: red; font-family: 'Times New Roman', Times, serif; 
    font-size: 10px; margin-left: 5px; display: block; margin-top: 7px;}
.info .bg .left .line hr{width: 200px; margin-left: 10px;
     margin-top: 80px; background-color: #eeeded;}
.info .bg .left h4{font-size:14px; margin-top: 70px; margin-left: 60px; color: gray;}
.info .bg .left .country{display: none; margin-top: 10px;}
.info .bg .left .continent{margin-top: 20px; }





.info .right{width: 100%; height: 500px; background-color: #ffffff; border-radius: 50px;}
.info .right .col1 {width: 91%; margin-top: 30px; height: 620px;
    margin-left: 30px; background-color: #f7f7f7; display: flex; border-radius: 30px;}
.info .right .col1:hover{color: #eeeded; background-color: #dddddd; transition: all 1.5s;}
.info .right .col1 .subject{ width: 90%; height: 50px; margin-left: 20px; margin-top: 0px; }
.info .right .col1 .subject .word{margin-bottom: 20px;}

.info .right .col1 .subject h3{font-size:17px; color: gray; margin-top: 20px; margin-left: 20px;}
.info .right .col1 .subject p{font-size:10px; color: gray; margin-left: 20px;}
.info .right .col1 .subject select{width: 95%;height: 40px; display: block; padding: 10px; margin: 5px;
    border: none; border-radius: 8px; margin-left: 20px; font-size: 11px; color: gray;}
.info .right .col1 .subject .submit{width: 90px; height: 30px; margin: 20px 0px 0px 20px; 
    background-color: rgb(255, 255, 255); color: #000000; 
    border:none; border-radius: 7px; cursor: pointer;}
.info .right .col1 .subject .submit:hover{color: #ffffff; background-color: #b30000; }
.info .right .col2 .score{width: 100px; height: 20.3px; background-color: #ffffff; 
    padding: 10px; margin: 5px; border: none; font-size: 11px;
    border-radius:none; display: block; margin-left: 10px; border-radius: 5px}
.info .right .col2 {margin-top: 76px; outline: none; margin-right: 30px; }
.info .right .col2 span{margin-left: 15px;}
.info .right .col2 .average {font-size: 10px; color: #b30000; margin:20px 0px 0px 15px}
.info .right .output{width: 88%; margin-top: 20px; height: 80px;  padding: 10px;
    margin-left: 30px; background-color: #f5f5f5;   border-radius: 20px; }
.info .right .output h2 {margin: 10px 0px 0px 20px; color: gray;}
.info .right .output p{margin-left: 20px; font-size: 12px; color: gray;}
.info .right .output .user-info {font-size: 10px; color: red; margin-left: 20px; }
.info .right .col1 .subject span{color: #ff0000; margin-left: 30px; }

.footer{width: 100%; height: 50px; background-color: aqua;}

@media (max-width: 950px){
    .nav{height: 100px;}
    .nav img{width: 150px; }
    .nav-links .nav-bg{width: 100%;}
    .nav-links .nav-bg a{font-size: 12px;}
    .info .bg{width: 90%;}
    .info .bg .left input{width: 75%;}
    .info .bg .left select{width: 85%;}
    .info .bg .left form{margin-left: 40px;}
    .info .right .col1 {width: 88%;}
    .info .right .col1 .subject h3{font-size: 12px;}
    .info .right .col1 .subject p{font-size: 7px;}
    .info .right .col1 .subject select{width: 90%; margin: 5px;}
    .info .right .col2 .score{width: 70px; margin: 2px; margin-top: 3px; height: 21px;}
    .info .bg .left .line hr{margin: 40px 40px 0px 0px;}
    .info .right .output{width: 80%;}
    .info .right .col2 {margin-top: 70px;}
}
@media (max-width: 1000px){
    .nav{height: 100px;}
    .nav img{width: 150px; }
    .nav-links .nav-bg{width: 100%;}
    .nav-links .nav-bg a{font-size: 12px;}
    .info .bg{width: 90%;}
    .info .bg .left input{width: 75%;}
    .info .bg .left select{width: 85%;}
    .info .bg .left form{margin-left: 40px;}
    .info .right .col1 {width: 88%;}
    .info .right .col1 .subject h3{font-size: 12px;}
    .info .right .col1 .subject p{font-size: 7px;}
    .info .right .col1 .subject select{width: 90%; margin: 5px;}
    .info .right .col2 .score{width: 70px; margin: 2px; margin-top: 3px; height: 21px;}
    .info .bg .left .line hr{margin: 40px 40px 0px 0px;}
    .info .right .output{width: 80%;}
    .info .right .col2 {margin-top: 70px;}
}

@media (max-width: 900px){
    .nav{height: 100px;}
    .nav img{width: 150px; }
    .nav-links .nav-bg{width: 100%;}
    .nav-links .nav-bg a{font-size: 12px;}
    .info .bg{width: 90%;}
    .info .bg .left input{width: 75%;}
    .info .bg .left select{width: 85%;}
    .info .bg .left form{margin-left: 40px;}
    .info .right .col1 {width: 88%;}
    .info .right .col1 .subject h3{font-size: 12px;}
    .info .right .col1 .subject p{font-size: 7px;}
    .info .right .col1 .subject select{width: 90%; margin: 5px;}
    .info .right .col2 .score{width: 70px; margin: 2px; margin-top: 3px; height: 21px;}
    .info .bg .left .line hr{margin: 40px 40px 0px 0px;}
    .info .right .output{width: 80%;}
    .info .right .col2 {margin-top: 70px;}
}


@media (max-width: 850px){
    .nav-links .nav-bg{width: 100%;}
    .nav-links .nav-bg a{font-size: 12px;}
    .info .bg{width: 90%;}
    .info .bg .left input{width: 75%;}
    .info .bg .left select{width: 85%;}
    .info .bg .left form{margin-left: 40px;}
    .info .right .col1 {width: 85%;}
    .info .right .col1 .subject h3{font-size: 12px;}
    .info .right .col1 .subject p{font-size: 7px;}
    .info .right .col1 .subject select{width: 90%; margin: 5px;}
    .info .right .col2 .score{width: 70px; margin: 2px; margin-top: 3px; height: 21px;}
    .info .bg .left .line hr{margin: 40px 40px 0px 0px;}
    .info .right .output{width: 80%;}


}
@media (max-width: 768px){
    .nav-links .nav-bg{width: 100%;}
    .nav-links .nav-bg a{font-size: 12px;}
    .info .bg{width: 90%;}
    .info .bg .left input{width: 75%;}
    .info .bg .left select{width: 85%;}
    .info .bg .left form{margin-left: 40px;}
    .info .right .col1 {width: 85%;}
    .info .right .col1 .subject h3{font-size: 12px;}
    .info .right .col1 .subject p{font-size: 7px;}
    .info .right .col1 .subject select{width: 90%; margin: 5px;}
    .info .right .col2 .score{width: 70px; margin: 2px; margin-top: 3px; height: 21px;}
    .info .bg .left .line hr{margin: 40px 40px 0px 0px;}
    .info .right .output{width: 80%;}
}

@media (max-width: 700px){
    .nav{height: 100px;}
    .nav img{width: 150px; }
    .nav-links .nav-bg{width: 100%;}
    .nav-links .nav-bg a{font-size: 12px;}
    .info .bg{width: 90%;}
    .info .bg .left input{width: 75%;}
    .info .bg .left select{width: 85%;}
    .info .bg .left form{margin-left: 40px;}
    .info .right .col1 {width: 85%;}
    .info .right .col1 .subject h3{font-size: 12px;}
    .info .right .col1 .subject p{font-size: 7px;}
    .info .right .col1 .subject select{width: 90%; margin: 5px;}
    .info .right .col2 .score{width: 70px; margin: 2px; margin-top: 3px; height: 21px;}
    .info .bg .left .line hr{margin: 40px 40px 0px 0px;}
    .info .right .output{width: 80%;}
}

@media (max-width: 690px){
    .nav{height: 100px;}
    .nav img{width: 150px; }
    .nav-links .nav-bg{width: 100%;}
    .nav-links .nav-bg a{font-size: 8px; padding: 5px; margin: 5px; }
    .info {background-color: #f7f7f7;}
    .info .bg{width: 85%; height: 700px; display: block; margin-top: 20px; background-color: #ffffff; border-radius: 20px;}
    .info .bg .left{width: 80%; margin-top: 30px; height:300px;  background-color: #ffffff;}
    .info .bg .left input{width: 95%; border: 1.5px solid #f7f7f7;}
    .info .bg .left select{width: 100%;border: 1.5px solid #f7f7f7;}
    .info .bg .left form{margin-left: 15px;}
    .info .right .col1 {width: 100%; margin-top: 450px; margin-left: 0px; background-color: #ffffff; border-radius: 20px;}
    .info .right .col1 .subject p{font-size: 9px;}
    .info .right .col1 .subject select{width: 90%; margin: 5px;border: 1.5px solid #f7f7f7;}
    .info .right .col2 .score{width: 70px;  height: 18px; margin: 4px ;border: 1.5px solid #f7f7f7;}
    .info .bg .left .line hr{margin: 60px 40px 0px 0px; width: 270px;}
    .info .right .output{width: 95%; margin-left: 0px; border-radius: 20px; background-color: #ffffff; }
    body{background-color: #f7f7f7; height: 1800px;}
    .info .bg .left h3{margin-top: 20px;}
    .info .right .col2{margin-top: 80px;}
    .info .right .col1 .subject span{color: #ff0000; margin-left: 30px; margin-top: 7px; }
    .info .bg .left .basic{margin-top: 30px;}
    .info .right .col1 .subject .submit{width: 90px; height: 30px; margin: 20px 0px 0px 20px; 
        background-color: rgb(255, 255, 255); color: #000000; 
        border:1px solid black; border-radius: 7px; cursor: pointer;}
    .info .right .col1 .subject .submit:hover{color: #ffffff; background-color: #b30000; }
}


@media (max-width: 650px){
    .nav{height: 100px;}
    .nav img{width: 150px; }
    .nav-links .nav-bg{width: 100%;}
    .nav-links .nav-bg a{font-size: 8px; padding: 5px; margin: 5px; }
    .info {background-color: #f7f7f7;}
    .info .bg{width: 85%; height: 700px; display: block; margin-top: 20px; background-color: #ffffff; border-radius: 20px;}
    .info .bg .left{width: 80%; margin-top: 30px; height:300px;  background-color: #ffffff;}
    .info .bg .left input{width: 95%; border: 1.5px solid #f7f7f7;}
    .info .bg .left select{width: 100%;border: 1.5px solid #f7f7f7;}
    .info .bg .left form{margin-left: 15px;}
    .info .right .col1 {width: 100%; margin-top: 450px; margin-left: 0px; background-color: #ffffff; border-radius: 20px;}
    .info .right .col1 .subject p{font-size: 9px;}
    .info .right .col1 .subject select{width: 90%; margin: 5px;border: 1.5px solid #f7f7f7;}
    .info .right .col2 .score{width: 70px;  height: 18px; margin: 4px ;border: 1.5px solid #f7f7f7;}
    .info .bg .left .line hr{margin: 60px 40px 0px 0px; width: 270px;}
    .info .right .output{width: 95%; margin-left: 0px; border-radius: 20px; background-color: #ffffff; }
    body{background-color: #f7f7f7; height: 1800px;}
    .info .bg .left h3{margin-top: 20px;}
    .info .right .col2{margin-top: 80px;}
    .info .right .col1 .subject span{color: #ff0000; margin-left: 30px; margin-top: 7px; }
    .info .bg .left .basic{margin-top: 30px;}
    .info .right .col1 .subject .submit{width: 90px; height: 30px; margin: 20px 0px 0px 20px; 
        background-color: rgb(255, 255, 255); color: #000000; 
        border:1px solid black; border-radius: 7px; cursor: pointer;}
    .info .right .col1 .subject .submit:hover{color: #ffffff; background-color: #b30000; }
}



@media (max-width: 426px){
    .nav{height: 100px;}
    .nav img{width: 150px; margin-left: 0px;}
    .nav-links .nav-bg{width: 100%;}
    .nav-links .nav-bg a{font-size: 8px; padding: 5px; margin: 5px; }
    .info {background-color: #f7f7f7;}
    .info .bg{width: 85%; height: 700px; display: block; margin-top: 20px; background-color: #ffffff; border-radius: 20px;}
    .info .bg .left{width: 80%; margin-top: 30px; height:300px;  background-color: #ffffff;}
    .info .bg .left input{width: 95%; border: 1.5px solid #f7f7f7;}
    .info .bg .left select{width: 100%;border: 1.5px solid #f7f7f7;}
    .info .bg .left form{margin-left: 15px;}
    .info .right .col1 {width: 100%; margin-top: 450px; margin-left: 0px; background-color: #ffffff; border-radius: 20px;}
    .info .right .col1 .subject p{font-size: 9px;}
    .info .right .col1 .subject select{width: 90%; margin: 5px;border: 1.5px solid #f7f7f7;}
    .info .right .col2 .score{width: 70px;  height: 18px; margin: 4px ;border: 1.5px solid #f7f7f7;}
    .info .bg .left .line hr{margin: 60px 40px 0px 0px; width: 270px;}
    .info .right .output{width: 95%; margin-left: 0px; border-radius: 20px; background-color: #ffffff; }
    body{background-color: #f7f7f7; height: 1800px;}
    .info .bg .left h3{margin-top: 20px;}
    .info .right .col2{margin-top: 80px;}
    .info .right .col1 .subject span{color: #ff0000; margin-left: 30px; margin-top: 7px; }
    .info .bg .left .basic{margin-top: 30px;}
    .info .right .col1 .subject .submit{width: 90px; height: 30px; margin: 20px 0px 0px 20px; 
        background-color: rgb(255, 255, 255); color: #000000; 
        border:1px solid black; border-radius: 7px; cursor: pointer;}
    .info .right .col1 .subject .submit:hover{color: #ffffff; background-color: #b30000; }
}
@media (max-width: 376px){
    .nav{height: 80px;}
    .nav img{width: 100px; margin-left: 10px ;}
    .nav-links .nav-bg{width: 100%;}
    .nav-links .nav-bg a{font-size: 8px; padding: 5px; margin: 0px; }
    .info {background-color: #ffffff;}
    .info .bg{width: 85%; height: 700px; display: block; margin-top: 20px; background-color: #ffffff; border-radius: 20px;}
    .info .bg .left{width: 80%; margin-top: 30px; height:300px;  background-color: #ffffff;}
    .info .bg .left input{width: 95%; border: 1.5px solid #dedede;}
    .info .bg .left select{width: 100%;border: 1.5px solid #f7f7f7;}
    .info .bg .left form{margin-left: 15px;}
    .info .right .col1 {width: 100%; margin-top: 450px; margin-left: 0px; background-color: #ffffff; border-radius: 20px;}
    .info .right .col1 .subject p{font-size: 9px;}
    .info .right .col1 .subject select{width: 90%; margin: 5px;border: 1.5px solid #f7f7f7;}
    .info .right .col2 .score{width: 70px;  height: 18px; margin: 4px ;border: 1.5px solid #f7f7f7;}
    .info .bg .left .line hr{margin: 60px 40px 0px 0px; width: 270px;}
    .info .right .output{width: 95%; margin-left: 0px; border-radius: 20px; background-color: #ffffff; }
    body{background-color: #ffffff; height: 1800px;}
    .info .bg .left h3{margin-top: 20px;}
    .info .right .col2{margin-top: 90px;}
    .info .right .col1 .subject span{color: #ff0000; margin-left: 30px; margin-top: 7px; }
    .info .bg .left .basic{margin-top: 30px;}
    .info .right .col1 .subject .submit{width: 90px; height: 30px; margin: 20px 0px 0px 20px; 
        background-color: rgb(255, 255, 255); color: #000000; 
        border:1px solid black; border-radius: 7px; cursor: pointer;}
    .info .right .col1 .subject .submit:hover{color: #ffffff; background-color: #b30000; }
}


